/* CUSTOM PROPERTIES */
:root{
    --green:#109587;
--light-grey:#EAEAE9;    
}

/* COLOR PALETTE */
.bg-green{
    background-color: var(--green);
}
.bg-light-grey{
    background-color: var(--light-grey);
}
/* RESET */
*{padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERICS */

body{
height: 100vh;
background-image: linear-gradient( to top, rgb(16, 149, 135,0.15),rgba(221, 219, 210) );
}

header{
    height: 150px;
}

main{
    background: #fff;
    height: calc(100% - 10%);
    width: 1300px;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section{
    background-color: blue;
    border: dashed red 1px;
}

/* LAYOUT */
.row{
display: flex;
}

.col.contacts{
flex-basis: calc(100%/2);
}

.col.messages{
    flex-basis: calc(100%);

}

/* SIZES */
.h-70{
    height: 70px;
}
.vh-100{
    height: 100%;
}
.h-v{
    height: calc(100% - 140px);
}

