/* CUSTOM PROPERTIES */
:root{
--green:#109587;
--light-grey:#EAEAE9;    
--white:#ffffff;
--grey:#B1B1B1;
--light-blue:#8EDAFC;
}

/* COLOR PALETTE */
.bg-white{
    background-color: var(--white);
}
.bg-green{
    background-color: var(--green);
}
.bg-light-grey{
    background-color: var(--light-grey);
}
.bg-light-blue{
    background-color: var(--light-blue);
}


/* RESET */
*{padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERICS */

body{
    
    background: linear-gradient(to top, rgba(16, 149, 136, 0.25),
    #dddbd2 50%, #dddbd2 85%, #109587 75%);
}

section{
    border: dashed red 1px;
}

/* UTILS */

.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 0;
}
.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}
.justify-end{
    justify-content: flex-end;
}
.align-content-start{
    align-content: start;
}
.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
    
}

.justify-evenly{
    justify-content: space-evenly;
}
.align-center{
    align-items: center;
}

.align-self-start{
    align-self: flex-start;
}

.flex-grow-1{
    flex-grow: 1;
}

.flex-column{
    flex-direction: column;
}

.img-fluid{
    height:  100%;
}

.text-center{
    text-align: center;
}

/* LAYOUT */
.row{
    display: flex;
}

.col.contacts{
    flex-basis: calc(100%/2);
}

.col.messages{
    flex-basis: calc(100%);
    
}

.gap-20{
    gap: 20px;
}

/* SIZES */
.h-10{
    height: 10px;
}
.h-50{
    height: 50%;
}
.h-70{
    height: 70px;
}
.h-80{
    height: 80px;
}
.h-100{
    height: 100%;
}
.vh-100{
    height: 100vh;
}
.h-v{
    height: calc(100% - 140px);
}

.w-100{
    width: 100%;
}

/* SPACING */
.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px;
}

.py-10{
    padding: 10px 0;
}
.ps-15{
    padding-left: 15px;
}

.mt-10{
    margin-top: 10px;
}
.my-10{
    margin: 10px 0;
}

.ms-10{
    margin-left: 10px;
}
.me-10{
    margin-right:10px ;
}

.mx-10{
    margin: 0 10px;
}

/* BORDERS */
.border-rounded{
    border-radius: 50%;
}

#main-content{
    height: calc(100% - 10%);
    width: 80%;
    
}

.sent-messages-1{
    background-image: url(../img/mine.png);
    overflow-y: auto;
    
}
.contacts-list{
    overflow-y: auto;
    height: calc(100% - 200px);
}

.col-text-message{
    flex-basis: calc(100% / 12);
}


/* TODO **********************************/
.recive-message,.sent-message{
}

.cols{
    flex-basis: calc(100% / 2.5);
    
}

/* fa solid ico */

.fa-solid,.fa-regular{
    color:var(--grey);
    font-size: 20px;
}

.hidden{
    visibility: hidden;
}


/* username */
.username,.contact-name{
    vertical-align: top;
}

.contact-wrapper{
    padding: 10px 0 10px 15px;
    border-bottom: var(--light-grey) 1px solid;
    height: 80px;
    
}

.search-input{
    border: none;
    border-left: 1px solid var(--grey);
}

.search-btn:hover{
    filter:brightness(0.8);
}

i.fa-bell-slash{
    color:var(--light-blue);
    border-radius: 50%;

}