<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzapp</title>
    <!-- FONT-AWESOME ICONS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css'
        integrity='sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=='
        crossorigin='anonymous' />
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="./CSS/stylesheet.css">
    <!-- VUE JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.1/vue.global.min.js'
        integrity='sha512-cmp274AnpRp94+/qwwCeVM3359t9cBTbui2NRLDFm11vGxxgdKxQssWj9qv2XbRZFFxpy6BIxmZnK8lGNPVEJQ=='
        crossorigin='anonymous'></script>
    <!-- SCRIPT JS -->
    <script defer src="./JS/script.js"></script>
</head>

<body>
    <div id="app" class="d-flex justify-center align-center vh-100">
        <!-- MAIN CONTENT -->
        <div id="main-content" class="row">

            <!-- CONTACTS SECTION -->
            <section class="col contacts bg-white">
                <!-- USER NAV-MENU -->
                <header class="h-70 bg-light-grey d-flex align-center justify-between p-10">

                    <div class="wrapper h-100 ms-10">
                        <img class="img-fluid border-rounded" src="./img/avatar_io.png" alt="">
                        <span class="username ms-10">Manuelito</span>
                    </div>

                    <div class="wrapper me-10">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message mx-10"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>

                <!-- BANNERS ENABLE NOTIFICATIONS  -->
                <div class="add-notification h-80 bg-light-blue d-flex align-center ps-15">
                    <i class="fa-solid fa-bell-slash p-10 bg-white"></i>
                    <span class="ms-10">
                        <div>Ricevi notifiche di nuovi messaggi</div>
                        <a href="#">Attiva notiche desktop</a>
                    </span>
                </div>

                <!-- SEARCH CONTACTS BAR -->
                <div class="search-bar d-flex p-5 bg-light-grey">
                    <span class="search-btn bg-white p-10">
                        <i class="fa-solid fa-magnifying-glass">
                        </i>
                    </span>
                    <input type="text" class="p-10 flex-grow-1 search-input" placeholder="Username">
                </div>

                <!-- CONTACTS LIST -->
                <section class="contacts-list">
                    <div class="contact-wrapper" v-for="(contact, index) in contacts " @click="getCurrentIndex(index)">
                        <img class="img-fluid border-rounded" :src="contact.avatar" :alt="`${contact.name} image`">
                        <span class="contact-name ms-10">{{contact.name}}</span>
                    </div>

                </section>
            </section>

            <!-- CONTACT MESSAGES SECTION -->
            <section class="col messages">

                <!-- CONTACT INFO -->
                <header class="h-70 bg-light-grey d-flex align-center justify-between p-10">
                    <div class="wrapper d-flex h-100">
                        <img class="img-fluid border-rounded" :src="contacts[currentIndex].avatar"
                            :alt="`${contacts[currentIndex].name} image`">

                        <div class="wrapper">
                            <div class="contact-name ms-10">{{contacts[currentIndex].name}}</div>
                            <div class="contact-info ms-10">Ultimo accesso oggi alle</div>
                        </div>

                    </div>

                    <div class="wrapper me-10">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message mx-10"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>

                <!-- MESSAGES SENT AND RECEIVED SECTION -->
                <section class="bg-green h-v sent-messages-1">


                    <div class="container d-flex justify-between" v-for="message in contacts[currentIndex].messages">

                        <div class="mt-10 h-100  cols  d-flex flex-wrap gap-20">

                            <p>{{message.message}}</p>

                        </div>



                        <!--

                         TODO: 
                        
                         -->
                        <!-- <div class="mt-10 h-100  cols d-flex align-center flex-wrap gap-20">
                        </div> -->
                </section>

                <!--                     <div class="bg-green h-70 w-100"></div> -->
                <!-- TEXT-MESSAGE BAR -->
                <footer class="h-70 bg-light-grey d-flex justify-between align-center">

                    <i class="fa-regular fa-face-smile col-text-message text-center"></i>

                    <div class="search-bar flex-grow-1 col-text-message">
                        <input type="text" class="p-10 w-100" placeholder="Username">
                    </div>

                    <i class="fa-solid fa-microphone col-text-message text-center"></i>
                </footer>
            </section>
        </div>
    </div>
</body>

</html>